{% extends 'blog/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'blog/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
    <h4 class="text-center mt-1">{{ setting_user }}</h4>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="profile_form">
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.last_name.id_for_label }}" class="form-label">Имя</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.last_name }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.first_name.id_for_label }}" class="form-label">Фамилия</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.first_name }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.username.id_for_label }}" class="form-label">Логин</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.username }}
                    {% if profile_form.username.errors %}
                        <div class="text-danger">
                            {{ profile_form.username.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.email.id_for_label }}" class="form-label">Эл. почта</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.email }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.image.id_for_label }}" class="form-label">Фото</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.image }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.About_me.id_for_label }}" class="form-label">Не много о себе</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.About_me }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ profile_form.Programming_skills.id_for_label }}" class="form-label">Языки программирования</label>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ profile_form.Programming_skills }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                    <button type="submit" name="update_profile" class="btn btn-save px-4">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>

   <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <input type="hidden" name="form_type" value="password_form">
    <div class="card mt-4">
        <h4 class="text-center">{{ setting_password }}</h4>
        <div class="card-body">
            {{ password_form.non_field_errors }}
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ password_form.new_password1.id_for_label }}" class="form-label">Новый пароль</label>
                </div>
                <div class="col-sm-9">
                    {{ password_form.new_password1 }}
                    {% if password_form.new_password1.errors %}
                        <div class="text-danger">
                            {{ password_form.new_password1.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label for="{{ password_form.new_password2.id_for_label }}" class="form-label">Подтвердите пароль</label>
                </div>
                <div class="col-sm-9">
                    {{ password_form.new_password2 }}
                    {% if password_form.new_password2.errors %}
                        <div class="text-danger">
                            {{ password_form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button type="submit" name="change_password" class="btn btn-save px-4">Изменить пароль</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock %}
