.btn-edit,
.btn-save {
  background-color: rgb(17, 152, 118);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(90, 89, 89, 0.255);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Анимация за 0.3 секунды */
}

.btn-edit:hover,
.btn-save:hover {
  background-color: rgba(20, 184, 144, 1);
  border-color: rgb(15, 218, 35);
  color: rgba(255, 255, 255, 1);
}

.btn.btn-edit:active,
.btn.btn-save:active {
  background-color: rgb(17, 116, 91);
  border-color: rgb(15, 218, 35);
  color: rgba(255, 255, 255, 1);
}

.photo_profile {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* Стили для ссылок или кнопок пагинации */
.page-link {

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(179, 179, 179);;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

/* Стили для ссылки или кнопки при наведении */
.page-link:hover {

  color: #8e8e8e;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

/* Стили для активного элемента пагинации */
.page-item.active .page-link {

  color: #fff;
  background-color: rgba(20, 184, 144, 1);
  border-color: rgb(15, 218, 35);
}

/* Стили для отключенного элемента пагинации */
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}


