{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title text-center">Запрос на восстановление пароля на сайте</h4>
                        <form method="post" novalidate>
                            {% csrf_token %}
                             <div class="mb-3">
                                <p class="card-text  text-center">для подтверждения было отправлено электронное письмо</p>        
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}