{% extends 'blog/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'blog/css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow-lg">
                <div class="card-body">
                    <h4 class="card-title text-center">Запрос на восстановление пароля</h4>
                    <form method="post" novalidate>
                        {% csrf_token %}
                         <div class="mb-3 pass">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Эл. почта</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}

                        </div>

                        

                        <button type="submit" class="btn btn-recover-email">Восстановить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}