{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card border-0 shadow-lg">
                <div class="card-body">
                    {% if validlink %}
                    <h4 class="card-title text-center">Установить новый пароль</h4>

                    <form method="post" novalidate enctype="multipart/form-data">
                         {{ form.as_p }}
                         {% csrf_token %}



                        <button type="submit" class="btn btn-dark btn-block mt-3">Подтвердить</button>
                          {% else %}

                                <h6 class="card-text text-center">Ссылка недействительна</h6>

                          {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}