{% extends 'blog/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <strong>{{ article.title }}</strong>
        <p>{{ article.full_description }}</p>
        <small>{{ article.time_create }}</small>
        <hr>
        <span>{{ article.category.title }}</span>

<div class="card border-0">
	<div class="card-body">
		<h5 class="card-title">
			Комментарии
		</h5>
		{% include 'blog/comment/comments_list.html' %}
	</div>
</div>
{%endblock%}