{% extends 'blog/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
{% load mptt_tags %}

{% load humanize %}
{% block content %}
<div class="container-fluid">
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div class="content-wrapper py-4">
                    {% block category_tree %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Категории</h5>
                            {% full_tree_for_model blog.Category as categories %}
                            <p class="card-text">
                            <ul>
                                {% recursetree categories %}
                                <li>
                                    {% if node.slug %}
                                    <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                                    {% else %}
                                    {{ node.title }}
                                    {% endif %}
                                </li>
                                {% if not node.is_leaf_node %}<ul>{% endif %}
                                    {{children}}
                                    {% if not node.is_leaf_node %}</ul>{% endif %}
                                {% endrecursetree %}
                            </ul>
                            </p>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div class="col-lg-9 col-xxl-5">
                <div class="content-wrapper py-4">

                    {% if articles %}
                    {% for article in articles %}

                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img src="{% if article.author.image %}{{ article.author.image.url }}{% else %}{% static 'blog/image/nouname.png' %}{% endif %}"
                                                class="rounded-circle z-depth-0 p-1 photo-nav" width="50">
                                            <div class="ml-3">
                                               <div><a class="author" href="{{ article.author.get_absolute_url }}">{{ article.author.username }}</a></div>
                                                <div class="card-subtitle text-muted">{{ article.time_create|naturaltime}}</div>
                                            </div>
                                        </div>
                                {% if request.user == article.author %}
                                    <div class="dropdown">
                                        <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="{% url 'articles_update' article.slug %}">Редактировать</a></li>
                                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-article-id="{{ article.id }}">Удалить</a></li>
                                        </ul>
                                    </div>
                                {% endif %}



                                    </div>
                                    <div class="d-flex">
                                        {% if article.thumbnail %}
                                        <img src="{{ article.thumbnail.url }}"
                                            class="thumbnail-image img-fluid mt-3 me-3" alt="{{ article.title }}">
                                        {% endif %}
                                        <p class="card-text m-2 text-break">{{ article.short_description }}</p>
                                    </div>

                                    <div class="tags">
                                        Тег:
                                        {% for tag in article.tags.all %}
                                        <span class="badge text-bg-success">{{ tag.name }}</span>
                                        {% endfor %}
                                    </div>


                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                         <div class="like-container" data-article-id="{{ article.id }}" data-like-url="{% url 'like_toggle' %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart m-1 like-icon {% if article.id in user_likes %} active{% endif %}" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                            </svg>
                                            <span class="like-count">{{ article.get_like_count }}</span>
                                         </div>

                                        <div class="comment-container me-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                                class="bi bi-chat-left m-1 comment" viewBox="0 0 16 16">
                                                <path
                                                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                            </svg>
                                             <span class="like-count">{{ article.comments.count }}</span>
                                        </div>


                                    </div>
                                    <div class="d-flex">
                                        <a href="{{ article.get_absolute_url }}" class="btn-secondary me-2">Подробнее</a>
                                         <span><i class="bi bi-eye"></i> {{article.get_view_count}}</span>
                                    </div>

                                </div>


                                
                            </div>
                        </div>
                        <!-- Модальное окно -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Удаление статьи</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Вы действительно хотите удалить эту статью?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-edit"
                                            data-bs-dismiss="modal">Отмена</button>
                                        <button type="button" class="btn btn-danger"
                                            id="confirmDeleteButton">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CSRF token -->
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    </div>
                    {% endfor %}
                    {% else %}
                    {% include 'include/not_found_post.html' %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'blog/js/blog.js' %}"></script>

{% endblock %}